*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --grid-border-color: rgba(255, 0, 0, 0);
}

.hud {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
}

.hud > div:nth-child(odd) {
    width: 30%;
    height: 100vh;
}

.hud > div:nth-child(even) {
    width: 40%;
    height: 100vh;
}

.col1 {
    border: 1px solid var(--grid-border-color);
}

.col2 {
    border: 1px solid var(--grid-border-color);
}

.col3 {
    border: 1px solid var(--grid-border-color);
}

.results::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.results::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 5px;

}

.results::-webkit-scrollbar-thumb
{
	background-color: #570357;
	border: 2px solid #555555;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

#closeAnimationTab {
    cursor: pointer;
    z-index: 3;
}

.animation-div {
    box-shadow: -1px 0px 8px 0px rgba(225,36,230,0.63);
    -webkit-box-shadow: -1px 0px 8px 0px rgba(225,36,230,0.63);
    -moz-box-shadow: -1px 0px 8px 0px rgba(225,36,230,0.63);
    background-color: rgba(0, 0, 0, 0.63);
}

#searchInput {
    background-color: #55555581;
    color: white;
}

#searchInput::placeholder {
    color: white;
}

.results {
    background-color: #555555cc;
}

.results p{
    color: rgb(255, 132, 132);
    text-decoration: underline;
}
